# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Environments
venv/
env/
ENV/
.env

# Data & database local files
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
*.db
*.sqlite3

# Models
models/*
!models/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
